<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive"></header>
    <ion-content class="has-header">
      <ion-list>
    
        <ion-item nav-clear menu-close href="#/app/login">
         login & logout
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/post-status">
         post status
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/post-photo">
         post photo
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/send-message">
          send message
        </ion-item>

        <ion-item nav-clear menu-close href="#/app/user-details">
         user details
        </ion-item>    
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
