<ion-view title="Post Status" ng-controller="DialogController as dialog_ctrl">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">

	<div class="list">
	  <label class="item item-input">
	    <input type="url" ng-model="dialog_ctrl.url" placeholder="URL">
	  </label>
	  <label class="item item-input">
	    <input type="text" ng-model="dialog_ctrl.caption" placeholder="Caption">
	  </label>
	</div>

	<button class="button button-positive button-block" ng-click="postStatus()">
	Post Status
	</button>

  </ion-content>
</ion-view>
